{% extends '/pages/base.html.twig' %}

{% block title %}RecipeTsk mes ingredients{% endblock %}

{% block body %}
    <div class="contain">
        <h1>edit  ingredient </h1>
        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <div class="form-error">
                {{ form_errors(form.name) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.prix) }}
            {{ form_widget(form.prix) }}
            <div class="form-error">
                {{ form_errors(form.prix) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}