{% extends '/pages/base.html.twig' %}

{% block title %}RecipeTsk mes ingredients{% endblock %}

{% block body %}
   {% for message in app.flashes('Success') %}
      <div class=" alert alert-success mtn-4">
         {{ message }}
      </div>
   {% endfor %}
   <div class="d-flex bd-highlight mb-3">
      <div class="me-auto p-2 bd-highlight"><h2>User</h2></div>
      <div class="p-2 bd-highlight">
         <button type="button" class="btn btn-secondary" onclick="redirectToNewPage()">Create</button>

         <script>
            function redirectToNewPage() {
               window.location.href = "{{ path('new') }}";
            }
         </script>
      </div>

   </div>
<div class="table-responsive">
   <table class="table">
      <thead>
      <tr>
         <th scope="col">#</th>
         <th scope="col">Name</th>
         <th scope="col">Price </th>
         <th scope="col">Date </th>

      </tr>
      </thead>
      <tbody id="mytable">
   {% if Ingredient == true %}
      {% for ingredient in Ingredient %}
         <tr>
            <th scope="row">{{ ingredient.id }}</th>
            <td>{{ ingredient.name }}</td>
            <td>{{ ingredient.prix }}</td>
            <td>{{ ingredient.creatAt | date('d/m/Y') }}</td>
         </tr>
      {% endfor %}
      </tbody>
   </table>
   <div class="navigation " >
      {{ knp_pagination_render(Ingredient) }}
   </div>
   {% else %}
   <h4>Il n y a pas dingredient </h4>
   {% endif %}
</div>


{% endblock %}

